show tags here (see comments)
<!-- this is where I would put the code to render the tags -->


<h1>All Tags</h1>

  <ul id="tags">

    <% @tags.each do |tag| %>

      <li>

         <%= link_to tag.name, tag_path(tag) %>

      </li>

      <% end %>
  </ul>
